#container {
    position: relative;
}

.position {
    margin-top: 0;
    margin-left: 30%;
    position: relative;
}

.bio {
    margin-left: -7%;
    position: absolute;
    z-index: 0;
}

.MnW {
    margin-left: 16%;
    position: absolute;
    z-index: 0;
}

.Smoke {
    margin-top: 5%;
    position: absolute;
    z-index: 5;
}

.YnY {
    margin-left: 3%;
    margin-top: 18%;
    position: absolute;
    z-index: 0;
}

.txt {
    position: relative;
    margin-top: 35%;
}

.bio:hover {
    z-index: 6;
}

.MnW:hover {
    z-index: 6;
}

.YnY:hover {
    z-index: 6;
}