@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway&family=Roboto+Condensed&display=swap");
li {
    list-style: none;
}

a {
    text-decoration: none;
}

#container {
    cursor: default;
    margin: 0 auto;
}

.title-head {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    border-bottom: 2px solid rgb(255, 0, 85);
    align-items: center;
}

.title-head a {
    color: black;
    font-weight: 300;
    transition: 0.5s ease-in-out;
}

.title-head a:hover {
    color: orange;
    letter-spacing: 1px;
}

.title-head .png {
    grid-column: 2;
    width: 70px;
    height: 70px;
}

.body-content {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 5fr;
    grid-template-rows: 1fr 70px;
}

.body-content .block-img {
    grid-row: 1;
    grid-column: 4;
    justify-self: center;
    width: 258px;
    height: 311px;
}

.body-content .title-page {
    grid-row: 1;
    grid-column: 2/4;
}

.body-content .title-page .three-moths {
    font-weight: 400;
    font-size: 17px;
}

.body-content .title-page .jobs {
    font-weight: 400;
    font-size: 17px;
}

.body-content .title-page .group {
    font-weight: 400;
    font-size: 17px;
}

.body-content .title-page .txt {
    font-weight: bold;
    text-transform: uppercase;
}

.body-content .btn_1 {
    grid-row: 2;
    grid-column: 2;
    width: 200px;
    height: 35px;
    border: 2px solid rgb(255, 0, 85);
    border-radius: 10px 1px 10px 1px;
    background-color: rgb(255, 0, 85);
    transition: 0.5s ease-in-out;
}

.body-content .btn_1:hover {
    box-shadow: 0 0 10px rgb(255, 0, 85);
    letter-spacing: 1px;
    background-color: rgb(151, 6, 66);
}

.body-content .btn_1 .btn_lin {
    text-align: center;
    margin-top: 7px;
}

.body-content .btn_1 a {
    color: white;
}

.body-content .btn_2 {
    grid-row: 2;
    grid-column: 3;
    width: 200px;
    height: 35px;
    border: 2px solid rgb(255, 0, 85);
    border-radius: 10px 1px 10px 1px;
    background-color: white;
    transition: 0.5s ease-in-out;
}

.body-content .btn_2:hover {
    box-shadow: 0 0 10px rgb(255, 0, 85);
    letter-spacing: 1px;
    background-color: rgb(151, 6, 66);
}

.body-content .btn_2 .btn_lin1 {
    text-align: center;
    margin-top: 7px;
}

.body-content .btn_2 a {
    transition: 0.4s ease-in-out;
    color: black;
}

.body-content .btn_2 a:hover {
    color: white;
}

.course {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 100px 150px;
    justify-content: space-around;
}

.course .info {
    grid-row: 1;
    grid-column: 1/3;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
}

.course .column1 {
    grid-row: 2;
    grid-column: 1;
    background: url(image/download.jpg) center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 20px 1px 20px 1px;
}

.course .column1 .info-column1 {
    text-align: center;
    font-weight: bold;
}

.course li {
    list-style-type: square;
    font-weight: 400;
}

.course .column2 {
    grid-row: 2;
    grid-column: 2;
    background: url(image/download.jpg) center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 20px 1px 20px 1px;
}

.course .column2 .info-column2 {
    text-align: center;
    font-weight: bold;
}

.course .column3 {
    grid-row: 2;
    grid-column: 3;
    background: url(image/download.jpg) center;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 20px 1px 20px 1px;
}

.course .column3 .info-column3 {
    text-align: center;
    font-weight: bold;
}


/*# sourceMappingURL=grid.css.map */