#divmaket {
    height: auto;
    width: auto;
}

.center {
    width: 100%;
    padding: 20px;
    background-color: skyblue;
    text-align: center;
    margin: 0;
    color: blue;
    font-weight: 700;
    font-size: 20px;
    animation: bord 5s infinite ease-in-out alternate;
}

.left {
    margin: 0;
    height: 300px;
    width: 200px;
    background-color: yellow;
    float: left;
    animation: let 5s infinite ease-in-out alternate;
}

.more {
    font-weight: 400;
}

.bottom {
    padding: 10px;
    background-color: skyblue;
    color: blue;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    overflow: hidden;
    animation: bot 5s infinite ease-in-out alternate;
}

.football {
    background: url(movie.png);
    background-repeat: repeat-y;
    background-position: right top;
    width: auto;
    height: 300px;
    overflow: hidden;
    animation: balls 5s infinite ease-in-out alternate;
}

.txt {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.foot1 {
    margin-left: 10px;
}

.JoinTclub {
    position: fixed;
    width: 100px;
    height: 50px;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    right: 25px;
    top: 50px;
    background-color: blueviolet;
}